__pycache__/
/.pybuild/
/.pytest_cache/
/src/*.egg-info/
/*-image.raw
/*-image.vhd
/image-*.info
/image-*.raw
/image-*.tar
/image-*.build.json
/image-*.build-fai.json
/image-*.build.junit.xml
config_space/class/UNTANGLE.var
*.log
*.raw
*.ovf
*.ova
*.qcow2
*.tar
*.vmdk
*.build.json
*.upload-*.json
*.build-fai.json
*.build.junit.xml
*.info
config_space/config_space
config_space/scripts/ngfw.build-fai.json
config_space/scripts/ngfw.info
ngfw.build.junit.xml
